.crystals{
    border: 1px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.crystal{
    background: red;
    border: 1px;
    height: 200px;
    width: 200px;
    margin: 5px;
    float: left;
}

body {
    background: aquamarine;
}